

//primary colors
$dark-green: #00783D;
$x2-dark-green: #006031;
$light-green: #5EB245;
$x2-light-green: #4B9036;
$blue: #007378;
$x2-blue: #005C60;
//primary colors end

//contrast colors
$blackbagground: #0A0A09;
$greybagground: #3E3E3E;
$whitebackground: #F5F5F5;
$border-color: #e4e4e4;
//contrast colors end

// border-right

$border: 1px solid $border-color;
