

//primary colors
$dark-green: #00783D;
$x2-dark-green: #006031;

//primary colors end

//contrast colors
$blackbagground: #3e3e3e;
$greybagground: #A5A5A5;
$whitebackground: #F5F5F5;
$border-color: rgba(0,0,0,0.07);
//contrast colors end

// border-right

$border: 1px solid $border-color;

$boxshadow: 0 1.25rem 3.125rem 0 rgba(7, 24, 51, 0.1);



.color-gray{
	color: $greybagground!important;
}

.color-dark{
	color: $blackbagground!important;
}

.color-green{
	color: $dark-green!important;
}

.bg-lightgray{
	background-color: $whitebackground!important;
}

.bg-gray{
	background-color: $greybagground!important;
}

.bg-dark{
	background-color: $blackbagground!important;
}

.bg-green{
	background-color: $dark-green!important;
}

.link{
  color: $dark-green!important;
  &:hover{
    color: $dark-green!important;
    text-decoration: none;
  }
}
