@media (max-width: 786px){
	.hero {
		height: 433px;
	}
	form {
		.form-group {
			.form-item {
					margin-right: 0px!important;
			}
		}
	}
}

@media (min-width: 991px){
	header{  padding-bottom: 100px;}
	.nav-menu{
		display: none;
	}
	.hide-md{
		display: none;
	}
	div.mce_inline_error {
    margin: 0 0 1em 0;
    padding: 5px 10px;
    background-color: #c74343!important;
    font-weight: lighter;
    z-index: 1;
    color: #fff;
    position: absolute;
    transform: translate(-100%, 15px);
    border-radius: 10px 0px 0px 10px;
	}
}

@media (max-width: 991px){

	// Article
	#article{
		.article-container{
			display: flex;
			flex-direction: column-reverse;
		}
		.cover h2{
			margin-top: 70px!important;
		}
		.social-bar.mr-auto.jc-end{
	    width: 100%!important;
	    float: none!important;
	    align-items: center;
			margin-top: -95px!important;
		}
		.main-content img {
	    width: 100%;
	    padding: 0!important;
			margin-bottom: 15px;
		}
	}
	// Varestedet
	#categories{
		figure{
			border: 1px solid rgba(0, 0, 0, 0.07);
			background-color: white;
			box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
		}
	}
	figure.p-4{
		padding: 0px!important;

		img{
			height: 70px!important;
		}
		h2{
			font-size: 15px!important;
		}
		p{
			display: none;
		}
		&:hover{
			border: none!important;
	    box-shadow: none!important;
	    transform: none!important;
		}
	}
	.mobil-pay-col{
		justify-content: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
		width: 100%;
		.social-links{
			justify-content: space-around;
			width: 100%;
		}
	}
	#carousel{
		.carousel-item{
			display: block;
			.container{
				display: grid!important;
				grid-template-columns: auto auto;
				img {
					align-self: center;
					width: 160px;
					padding: 15px;
				}
			}
		}
	}
	.btn-green:hover{
		color: white;
		text-decoration: none;
	}

	#section-1{
		.container{
			background: rgba(220, 220, 220, 0.3);
			display: flex;
			.row, .col-md-7{
				align-items: flex-start;
		    justify-content: center;
		    display: flex;
				flex-direction: column;
				h1{
					color: #3e3e3e;
					font-size: 40px;
					text-shadow: 4px 2px 33px rgba(255, 255, 255, 0.7607843137254902);
				}
			}
		}
	}

	#slider{
		.t-item {
		    flex-direction: column;
		    align-items: center;
		    text-align: center;
		    height: 364px;
				box-shadow: none;
				border: none;
				height: 300px;
				img {
				    margin-left: 0px;
				    margin-right: 0px!important;
				    margin-bottom: 15px;
				    width: 100px;
				    height: 100px;
				}
		}
	}

	.hide-sm{
		display: none!important;
	}
	.collapsing {
	    -webkit-transition: 0.0s!important;
	    transition: 0.0s!important;
			 height: calc(100vh - 100px)!important;
	}

	.logo {
		width: 190px;
	}

	button.nav-menu {
    background: transparent;
		border:none;
	}
	nav.navbar{
    position: fixed;
    width: 100%;
		top: 0;
		z-index: 99;
		height: 65px;
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15)
	}

	body{
		margin-top: 65px!important;
	}

	div#navbarSupportedContent {
		transition: 0.5s;
		position: fixed;
		z-index: 22222;
		top: 0;
		bottom: -80px;
		height: 100%;
		left: 0;
		width: 80%;
		background: #f5f5f5;
		padding: 40px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		transform: translate(-102%);
		box-shadow: 5px 0 10px #00000029;
			ul{
				width: 100%;
				li{
					padding: 10px 0;
					a{
						font-size: 20px;
					}
				}
			}

			.btn-green{
				width: 100%;
				margin: 0;
			}
	}

	.show{
		transform: translate(0)!important;
	}

	#section-1 form .form-group {
		flex-direction: column;
		.form-item{
		    margin-right: 0;


		}
	}

	.btn-white {
	    height: auto;
	    width: 100%;
	    margin-right: 0px;
	    padding: 10px 0;
	    margin-top: 35px;
	    border-radius: 0;
	}

	.hero {
    align-items: normal;
		display: flex;
		animation-name: inherit;
		background-size: 1200px;
		background-position: right;
	}

	.ui-loader{
		display: none;
	}

}
